@import "./basic/normalize";
@import "./utils/variables";
@import "./utils/placeholders";
@import "./components/common";

@import "./components/page-header";
@import "./components/page-footer";
@import "./components/mobile-menu.scss";

@import "./components/logo";
@import "./components/social-links";

@import "./components/index";
@import "./components/index-modal";
@import "./components/index-section-banner";
@import "./components/index-section-peculiarities";
@import "./components/index-section-work";
@import "./components/index-section-team";
@import "./components/index-section-client";

@import "./components/portfolio";







