// Стилизация блока Banner
.banner {
   
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    max-width: 480px;
    height: 400px;

    padding-top: 118px;
    padding-bottom: 118px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to right, $gradient-banner, $gradient-banner),
            url('../images/index/banner/mobile/banner.jpg');
    background-color: $background-second-color;

    @media screen and (min-device-pixel-ratio:2), 
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx){
        background-image: linear-gradient(to right, $gradient-banner, $gradient-banner),
                url('../images/index/banner/mobile/banner@2x.jpg');
    }

    @media screen and (min-width: 768px){
        max-width: 768px;
        // height: 400px;

        background-image: linear-gradient(to right, $gradient-banner, $gradient-banner),
                url('../images/index/banner/tablet/banner.jpg');
                

        @media screen and (min-device-pixel-ratio:2), 
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
            background-image: linear-gradient(to right, $gradient-banner, $gradient-banner),
                url('../images/index/banner/tablet/banner@2x.jpg');
        }

    }

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
        
        padding-top: 200px;
        padding-bottom: 200px;

        background-image: linear-gradient(to right, $gradient-banner, $gradient-banner),
                url('../images/index/banner/desktop/banner.jpg');
        
            @media screen and (min-device-pixel-ratio:2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, $gradient-banner, $gradient-banner),
                    url('../images/index/banner/desktop/banner@2x.jpg');
            }
    }

}

.banner__title {
    color: $text-third-white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    max-width: 360px;
    margin: 0 auto 30px auto;

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        max-width: 700px;
    }
   
}


.banner__button {
    display: inline-block;
    background-color: $focus-color;
    color: $text-third-white-color;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    min-width: 200px;
    padding: 10px 32px;

    border-style: inherit;
    box-shadow: 0px 4px 4px $shadow-button;
    border-radius: 4px;
    cursor: pointer;

    transition: background-color 250ms $delay;

    &:hover,
    &:focus {
        background-color: $focus-second-color;
    }
}