// Общая стилизация страницы index.html

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}



.section__title {
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 30px;

    @media screen and (min-width:1200px) {
        font-size: 36px;
        line-height: 1.17;
        margin-bottom: 50px;
    }
}
